.bestiary-grid {
  display: grid;
  --col-width: 250px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--col-width), 100%), 1fr)
  );
  /* outline: 2px solid deeppink; */

  position: relative;
}

.creature-card {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  padding-inline: 1.8rem;
  padding-block: 2.5rem;
  /* outline: 2px solid tomato; */

  min-height: 380px;
  position: relative;

  filter: drop-shadow(2px 6px 10px #00000040);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    transform: translateY(-5px);
  }
}



.creature-wrapper {
  /* outline: 2px dotted limegreen; */
  border-radius: 0.5rem;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    
    
    
    inset: 0;
    /* border: 8px solid transparent; */
    background-image: url("../../images/moldura-soft.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 2;
    pointer-events: none;
  }

  & .creature-img {
    box-shadow: var(--shadow-m);
    border-radius: 0.5rem;
    width: 100%;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.18);
    }
  }
}

.creature-info {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  align-items: center;
  justify-content: center;
  outline: 2px solid tomato;

  & > h2 {
    text-align: center;
    font-size: .9384rem;
    padding-block: max(.2rem, 1vw);
    padding-inline: .2rem;
    
  }
}
