.divider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 2px solid limegreen; */

  & .divider-text-box {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    font-family: var(--ff-3);
    font-size: clamp(0.85rem, 0.78rem + 0.3vw, 1rem);
    color: hsl(var(--gold-600) / 1);
    font-style: italic;
    line-height: 1.4;

    background-color: hsl(var(--black) / 0.2);
    border-radius: 0.4rem;
    padding-inline: 0.5rem;
    padding-block: 1.5rem;
    border: 1px inset hsl(var(--gold-600) / 0.4);
    text-shadow: 1px 1px 1px #0000008a;
    box-shadow: var(--shadow-s);

    transition: box-shadow 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      box-shadow:
        inset 0 1px 2px #ffffff30,
        0 1px 2px #00000030,
        0 2px 4px #00000015,
        0 0 16px hsl(var(--gold-600) / .7);
    }

    & .divider-signature {
        align-self: flex-end;
        margin-right: 1rem;
        padding-block: .2rem;
        padding-inline: .4rem;
        font-size: 0.7235rem;
        font-weight: 600;
        text-shadow: 1px 1px 1px #0000008a;
        letter-spacing: 1px;
    }
  }
}

.divider-ornament {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 128px;

  /* object-fit: cover;
  aspect-ratio: 1; */
  /* outline: 2px dotted cornflowerblue; */
  padding-inline: 0.8rem;
  padding-block: 0.5rem;

  /* &::after {
    content: "";
    position: absolute;
    top: 15%;

    width: 140px;
    height: 12px;
    border: 2px solid tomato;
    
  } */
}

.ornament-1 {
  width: 140px;
  height: 0.4rem;
  border-radius: 100px;
  background: linear-gradient(
    135deg,
    hsl(var(--beige) / 0.2),
    hsl(var(--grey) / 0.4),
    hsl(var(--brown) / 0.6)
  );
  filter: drop-shadow(1px 1px 2px #00000062);
}
.ornament-2 {
  width: 140px;
  height: 0.4rem;
  border-radius: 100px;
  background: linear-gradient(
    135deg,
    hsl(var(--brown) / 0.6),
    hsl(var(--grey) / 0.4),
    hsl(var(--beige) / 0.2)
  );
  filter: drop-shadow(1px 1px 2px #00000081);
}

.divider-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    /* outline: 2px solid deeppink; */
    width: 5rem;
    height: 5rem;


    & .divider-img {
      max-width: 100%;
      max-height: 100%;
      width: 3rem;
      height: 3rem;
      flex-shrink: 0;
      filter: drop-shadow(1px 1px 1px #0000007e);
    }
}


@media (min-width: 768px) {
    .ornament-1,
    .ornament-2 {
        width: 300px;
    }

    .divider-img-box {
        width: 7rem;  /* Ajuste para o tamanho maior que desejar */
        height: 7rem;
    }

    .divider-img-box .divider-img {
        width: 5.325rem;
        height: 5.325rem;
        filter: drop-shadow(1px 1px 1px #000000);
    }
}
