.app-header {
    display: flex;
    justify-content: center;

    padding-block: .5rem;

    outline: 2px dotted deeppink;
}

.header-info {
    display: grid;
    grid-template-areas: "stack";
    
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding-block: .8rem;
    

    outline: 2px dotted deeppink;

    & .title-bg {
        width: 100%;
        height: auto;
        filter: drop-shadow(4px 10px 3px #0000006c);
        z-index: 1;
    }
}

.header-info > * {
    grid-area: stack;
}

.header-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.header-title {
    color: hsl(var(--red) / .7);
    filter: drop-shadow(2px 1px 1px #000);
    font-size: clamp(1.1875rem, 0.7045rem + 2.0606vw, 2.25rem);
    z-index: 2;

    transform: translateY(-10px);
}


.header-call {
    
    color: hsl(var(--brown) / .8);
    filter: drop-shadow(1px 1px 1px #0000007c);
    font-size: 1.2rem;
    font-weight: 700;

    z-index: 2;
}

@media (max-width: 375px) {
    .header-info {
        gap: 1rem;
    }
    .header-call {
        font-size: 0.524rem;
        text-align: center;
        max-width: 75%;        
    }
}