.app-header {
    display: flex;
    justify-content: center;

    padding-block: .5rem;

    
}

.header-info {
    display: grid;
    grid-template-areas: "stack";
    
    justify-items: center;
    align-items: center;
    width: 100%;
    padding-block: .8rem;
    

    

    & .title-bg {
        width: 100%;
        height: auto;
        filter: drop-shadow(4px 10px 3px #0000006c);
        z-index: 1;
    }
}

.header-info > * {
    grid-area: stack;
}

.header-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    padding-inline: 1.5rem;
    z-index: 2;
}

.header-title {
    font-family: var(--ff-4);
    color: hsl(var(--red) / .7);
    filter: drop-shadow(2px 1px 1px #000);
    font-size: clamp(1.3175rem, 0.7045rem + 2.0606vw, 2.25rem);
    text-align: center;
}




.header-call {
    color: hsl(var(--brown) / .8);
    filter: drop-shadow(1px 1px 1px #0000007c);
    font-size: 0.7125rem;
    font-weight: 700;
    text-align: center;
    max-width: 85%;

    
}

@media (min-width: 481px) {
    .header-info {
        max-width: 500px;
    }
    .header-call {
        text-align: center;
        max-width: 100%       
    }
}

@media (min-width: 768px) {
    .header-info {
        max-width: 600px;
    }
    .header-call {
        text-align: center;
        max-width: 80%;
        font-size: 1rem;    
    }
}