@import url(./components/header.css);
@import url(./components/cards.css);
@import url(./components/footer.css);

:root {
  --white: 0 0% 100%;
  --grey: 30 71% 95%;
  --red: 358 84% 53%;
  --black: 0 0% 17%;
  --brown: 16 52% 23%;
  --gold: 33 62% 48%;
  --beige: 42 72% 68%;
  
  --brown-900: 28 28% 13%;
  --brown-800: 26 29% 11%;
  --brown-700: 26 29% 9%;

  --brown-600: 24 13% 8%;
  --brown-500: 26 15% 9%;
  --brown-400: 27 16% 11%;

  --test1: 16 41% 25%;
  --test2: 16 52% 23%;
  --test3: 24 75% 24%;

  --beige-800: 29 45% 30%;
  --beige-700: 31 39% 35%;

  --gold-800: 39 36% 66%;
  --gold-700: 39 39% 71%;
  --gold-600: 34 35% 62%;

  --ff-1: 'Eagle Lake', sans-serif;
  --ff-2: 'Jacquard 12', sans-serif;
  --ff-3: 'Macondo Swash Caps', sans-serif;
  --ff-4: 'Cinzel Decorative', cursive;

  --shadow-s: inset
  0 1px 2px #ffffff30,
  0 1px 2px #00000030,
  0 2px 4px #00000015;

  --shadow-m: inset
  0 1px 2px #ffffff50,
  0 2px 4px #00000030,
  0 4px 8px #00000015;

  --shadow-l: inset
  0 1px 2px #ffffff70,
  0 4px 6px #00000030,
  0 6px 10px #00000015;
}

/* ----- Reset --------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--ff-1);
  touch-action: manipulation;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}


/* ---------------------- */


/* --------- Classes ------------ */
.bg-white {
  background-color: hsl(var(--white));
}
.bg-dark {
  background-color: hsl(var(--black));
}


/* ------------------------------ */

body {
  max-width: 90rem;
  margin-inline: auto;
  min-height: 100dvh;
  background-color: hsl(var(--brown) / 1);

  padding-inline: 1rem;
}


