@import url(./components/header.css);
@import url(./components/cards.css);
@import url(./components/footer.css);

:root {
  --white: 0 0% 100%;
  --red: 358 84% 53%;
  --black: 0 0% 17%;
  --gold: 33 62% 48%;
  --beige: 42 72% 68%;
}

.bg-white {
  background-color: hsl(var(--white));
}
.bg-dark {
  background-color: hsl(var(--black));
}

body {
  min-height: 100vh;
  background-color: hsl(var(--black) / .2);
}
